.projectHeading{
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    font-family: Optima, sans-serif;
    font-size: 2rem;
    text-align: left;
}

ul.aboutMe{
    list-style: circle;
    display: flex;
    flex-direction: column;
}

li.aboutMe{
    position: relative;
}

li.aboutMe p{
    font-size:medium;
}

/* li.aboutMe::before{
    color: red;
    position: absolute;
    content: attr(text);
    right: 1px;
} */

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}